.section{
    border: solid green;
    border-width: 5px;
    padding: 10px;
    background: purple
}

.inactive-sections-container{
    min-height: 50vh;
    background: black
}

.active-sections-container{
    min-height: 50vh;
    background: yellow
}
