.selectsection-container{
}

.section{
    border: solid green;
    border-width: 1px;
    padding: 10px;
}

.inactive-sections-container{
    min-height: 50vh;
}

.active-sections-container{
    min-height: 50vh;
}
